@import 'styles/variables.scss';

/**
   Sizes: name, padding-vertical, padding-horizontal.
*/
$sizes: (('lg', 3, 4), ('md', 2, 4), ('sm', 2, 2), ('xs', 1.5, 2));

/**
  name, border-color, background-color, color, hover-border-color.
*/
$colors: (
  ('primary', $color-primary, $color-white, $color-default, $color-gray-lv-3),
  (
    'success',
    $color-success-lighter,
    $color-success-lightest,
    $color-success,
    $color-success-light
  ),
  (
    'warning',
    $color-warning-lighter,
    $color-warning-lightest,
    $color-warning,
    $color-warning-light
  ),
  (
    'error', 
    $color-error-lighter,
    $color-error-lightest,
    $color-error,
    $color-error-light
  )
);

@each $name, $border-color, $background-color, $text-color,
  $hover-background-color in $colors
{
  .color-#{$name}:not(.disabled) {
    background-color: $background-color;
    color: $text-color;
    border-color: $border-color;
    &:hover,
    &:focus,
    &:active,
    &:visited {
      border-color: $hover-background-color;
    }
    .adornment svg {
      color: $text-color;
    }
  }
}

.select {
  line-height: spacing(4.5);
  width: 100%;
  cursor: pointer;
}

@each $name, $vertical, $horizontal in $sizes {
  .select-size-#{$name} {
    padding: spacing($vertical) spacing($horizontal);
    padding-right: 0;
    line-height: 1.29;
  }
}

.disabled {
  pointer-events: none;
}
.placeholder {
  color: $color-gray-lv-3;
  transition: color 0.1s ease;
  &:hover {
    color: $color-gray-lv-2;
  }
}

.icon {
  fill: $color-gray-lv-2;
}

/**
  States: name, icon size.
*/
$icon-sizes: (('lg', 6), ('md', 6), ('sm', 4), ('xs', 3));
@each $name, $icon-size in $icon-sizes {
  .addon-size-#{$name} {
    .icon {
      width: spacing($icon-size);
      height: spacing($icon-size);
    }
  }
}

$label-sizes: (
  ('lg', $font-size-body2, spacing(6)),
  ('md', $font-size-body2, spacing(6)),
  ('sm', $font-size-body2, spacing(4)),
  ('xs', $font-size-tiny, spacing(3))
);
@each $name, $size, $line-height in $label-sizes {
  .label-size-#{$name} {
    font-size: $size;
    line-height: $line-height;
  }
}

.input.is-open {
  background-color: $color-white;
}

.input:not(.is-open) {
  .label-text {
    color: $color-gray-lv-2;
  }
}
