$color-info: #0087ff;
$color-info-light: #80C3FF;
$color-info-lighter: #BFE1FF;
$color-info-lightest: #F2F9FF;

$color-error: #e60651;
$color-error-light: #F383A8;
$color-error-lighter: #F9C1D4;
$color-error-lightest: #FEF3F6;

$color-success: #00ae7d;
$color-success-light: #80D7BE;
$color-success-lighter: #BFEBDF;
$color-success-lightest: #F2FBF9;

$color-warning: #ffb30f;
$color-warning-light: #FFD987;
$color-warning-lighter: #FFECC3;
$color-warning-lightest: #FFFBF3;

$color-black: #2c3d42;
$color-black-light: #969EA1;
$color-black-lighter: #CACFD0;
$color-black-lightest: #F4F5F6;

$color-gray-lv-1: #7d8fa0;
$color-gray-lv-2: #9da9b6;
$color-gray-lv-3: #bfc6cf;
$color-gray-lv-4: #cfd5dc;
$color-gray-lv-5: #e1e5e8;
$color-gray-lv-6: #ebedf0;

$box-shadow-lv-1: 0 1px 1px 0 rgba(6, 22, 73, 0.1), 0 0 1px 0 rgba(6, 22, 73, 0.06);
$box-shadow-lv-2: 0 3px 3px -1px rgba(6, 22, 73, 0.1), 0 0 1px 0 rgba(6, 22, 73, 0.06);
$box-shadow-lv-3: 0 6px 6px -1px rgba(6, 22, 73, 0.1), 0 0 1px 0 rgba(6, 22, 73, 0.06);
$box-shadow-lv-4: 0 16px 16px -1px rgba(6, 22, 73, 0.1), 0 0 1px 0 rgba(6, 22, 73, 0.06);
$box-shadow-lv-5: 0 32px 40px -2px rgba(6, 22, 73, 0.12), 0 0 1px 0 rgba(6, 22, 73, 0.06);

$color-extra-1: #f7d24f;
$color-extra-2: #479cf8;
$color-extra-3: #925cb1;

$color-primary: #1caba0;
$color-primary-light: #8ED5D0;
$color-primary-lighter: #C6EAE7;
$color-primary-lightest: #F4FBFA;

$color-accent: #ff7f45;
$color-accent-light: #FFBFA2;
$color-accent-lighter: #FFDFD1;
$color-accent-lightest: #FFF9F6;

$color-white: #ffffff;

$color-black-500: #404f54;
$color-primary-text: $color-black-500;
$color-default: $color-black;

$color-grey-10: #f4fafa;
$color-grey-25: #f2f3f4;
$color-grey-50: #e7e8ea;
$color-disable: #e2e2e2;

$color-divider: $color-gray-lv-4;
$color-secondary: $color-accent;
$color-invert: $color-white;
$color-link: $color-info;

$color-title: #3c5055;
$color-sub: #6a767b;
$color-title-sub: $color-gray-lv-2;
$color-form-label: $color-primary;
$color-price: $color-primary;
$color-dark-blue: $color-info;
$color-hint: $color-primary;
$color-border: $color-gray-lv-4;

$color-rating-deactive: $color-gray-lv-5;
$color-rating-active: $color-warning;