@import 'styles/variables.scss';

.name {
  color: $color-primary;
}

.type {
  color: $color-primary;
}

.root {
  display: table;
  padding: 1px;
  width: 100%;
  background-color: $color-primary;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid transparent;
  border-radius: $radius-regular;
  overflow: hidden;
  line-height: 1.33;
}

.header {
  background-color: $color-grey-25;
  .cell {
    font-size: $font-size-caption;
    font-weight: $font-weight-bold;
    color: $color-gray-lv-2;
  }
}

.body {
  background: #fff;
  .cell,
  .cell-empty {
    font-size: $font-size-caption;
    font-weight: $font-weight-regular;
    color: $color-gray-lv-2;
  }
  .cell-empty {
    text-align: center;
    color: $color-gray-lv-3;
  }
}

.footer {
  background: #fff;
}

.row {
  transition: all 0.25s ease;
  &:hover {
    background: $color-extra-2;
  }
  &.active {
    background: $color-primary;
  }
  &:active {
    background: $color-primary;
  }
}

.cell,
.cell-empty {
  padding: 1.6rem;
  border: 1px solid $color-primary;
}
